* {
    box-sizing: border-box;
}

.navbar {
    background-image: linear-gradient(to right, rgb(62, 116, 216), indigo);
    color: white;
    text-align: center;
}

main {
    display: flex;
    margin: 15px;
    height: 700px;
}

.resultsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 75%;
}

/* .currWeather {
    margin-bottom: 50px;
} */

.searchAside {
    float: left;
}

#searchSection {
    border-bottom: 5px solid rgb(194, 191, 191);
}

.forecastDisplay {
    max-height: 50%;
}

#fiveDayCards {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
}

.forecastCard {
    width: 200px;
 
}